:root {
  --bg-dark: rgb(34, 34, 34);
  --text-light: white;
  --card-bg: rgb(71, 71, 71);
  --card-header-bg: rgb(48, 48, 48);
  --card-header-text: rgb(50, 168, 82);
  --add-button-bg: rgb(50, 168, 82);
  --input-field-background: rgb(208, 208, 208);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text {
  color: var(--text-light);
}

.card-formatting {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}
.card-background {
  background-color: var(--card-bg);
  box-shadow: 0 4px 8px rgba(166, 165, 165, 0.2);
}

.card-header {
  background-color: var(--card-header-bg);
  color: var(--card-header-text);
}
.card-footer{
  background-color: var(--card-header-bg);
  color: var(--text-light);
}

.add-button{
  background-color: var(--add-button-bg);
  border-color: var(--card-header-bg);
}

.delete-button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.search-bar{
  background-color: var(--input-field-background);
}

.input-box {
  border: 2px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

